[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	owner = group Administrators
	create = group motorola_msm8960dt
	label-Code-Review = -2..+2 group motorola_msm8960dt
	label-Verified = -1..+1 group motorola_msm8960dt
	rebase = group motorola_msm8960dt
	submit = group motorola_msm8960dt
	push = group motorola_msm8960dt
